
<br/>

<div class="smurfy text-center">

<h1 class="custom-h1">
	Hi, I'm Jauntily! 
</h1>

<h2>
	Come travel like a local
</h2>


<%=  link_to 'Explore Jaunts', '#', :class => 'btn btn-warning btn-large' %>

</div>

<div class="control-group text-pull-left">
  <label class="control-label" for="inputIcon">Email address</label>
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <input class="span2" id="inputIcon" type="text">
    </div>
  </div>
</div>




